#app1 {
  width: 393px;
  height: 927px;
  border: 2px solid rgb(0, 204, 255);
  gap: 16px;
}



.headline {
  background-color: white;
  gap: 16px;
  width: 390px;
  height: 64px;
  display: flex;
  flex-direction: row;
}

.techn{
  width: 258px;
  height: 28px;
}

.menuof{
  width: 40px;
  height: 40px;
}
.menu{

  padding: 0px, 24px, 0px, 24px;
  gap: 24px;
  border-bottom: 1px solid rgba(193, 193, 193, 1);
}

.menu div{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 390px;
 
}


